<div class="button-container">
  <%= link_to 'Order History', client_profile_path, class: 'custom-button' %>
  <%= link_to 'Lottery History', client_lottery_history_path, class: 'custom-button' %>
  <%= link_to 'Winning History', winning_history_path, class: 'custom-button' %>
  <%= link_to 'Invitation History', invitation_history_path, class: 'custom-button' %>
</div>