<!-- Footer Navigation -->
<div class="d-flex justify-content-around py-3 border-top mt-4">
  <button class="btn btn-light">Share</button>
  <button class="btn btn-light">Invite</button>
  <button class="btn btn-light">Lottery</button>
  <button class="btn btn-light">Shop</button>
  <button class="btn btn-light">Me</button>
</div>
